
<div class="container" style=" margin-top: 1% ">
  <h1>About Us</h1>
</div>
<div class="container">
  <div class="col-lg-3 image">
    <img src="https://sahabt.com/assets/sahalogo.png" class="img-responsive">
  </div>
  <div class="col-md-8">
    <p>
      We believe that innovation is only possible when faced with hard challenges. For this reason, we
      welcome every bump in the road and see every obstacle as an opportunity. We work hard with
      confidence and devote ourselves to business excellence because we know that this is the only way
      that a rough road can lead us to the heights of greatness.
    </p>
    <p>
      We started our journey in 2009 by establishing Saha as an IT company. Later we specialized in
      software test automation solutions for mobile, web and desktop applications to ensure great digital
      experiences with the highest quality. Testinium is our flagship software test automation product
      offered on cloud and on-premises deployment. Testinium utilizes Selenium and Appium libraries and is
      optimized for Mobile, Web and Desktop testing.
    </p>
    <p>
      With our highly skilled expert team of developers, we additionally provide a wide range of services
      including software lifecycle consulting, test outsourcing and training to meet specific business
      requirements of distinguished firms to take their businesses to a superior level of success. We
      strive to deliver the highest performance and we are committed to meeting and exceeding the
      expectations of our customers.
    </p>
  </div>
</div>
