.candidates
  list-style-type: none
  padding-left: 0px


.candidates li
  position: relative
  cursor: pointer
  background-color: #EEE
  height: 2.6em
  border-radius: 4px
  width: 300px
  margin: 1em
  align-items: center

.candidates span

.candidates li:hover
  color: #607D8B
  background-color: #DDD

button.info
  position: absolute
  right: 0
  background-color: gray !important
  color: white
  width: 2em
  height: 100%

.container
  display: flex
  align-items: center
  justify-content: center

.card
  margin-top: 1%
  width: 300px
