<div class="container" style=" margin-top: 1% " *ngIf="!candidatescntrl">
    <ul class="candidates">
      <li *ngFor="let person of candidates.results; let i = index">
          <span>{{this.toUpperFirsLetter(person.name.title)}}. {{this.toUpperFirsLetter(person.name.first)}} {{this.toUpperFirsLetter(person.name.last)}}</span>
          <button class="info" title="Info Candidate" (click)="detail(i)" >i</button>
      </li>
    </ul>
</div>

<div class="detail" *ngIf="candidatescntrl">
<button (click)="candidatescntrl=false">Back</button>
<app-candidates-detail [data]="object">
</app-candidates-detail>
</div>


