.candidates
  margin: 0 0 2em 0
  list-style-type: none
  padding: 0
  width: 15em

.candidates li
  position: relative
  cursor: pointer
  background-color: #EEE
  margin: .5em
  padding: .3em 0
  height: 2.6em
  border-radius: 4px
  width: 19em

.candidates span
  margin-left: 10px

.candidates li:hover
  color: #607D8B
  background-color: #DDD
  left: .1em

button.info
  position: relative
  left: 17em
  top: -21px
  background-color: gray !important
  color: white
  display: inherit
  width: 2em

